@font-face {
  font-family: Raleway;
  src: url(Raleway-Regular.ttf);
}
html {
  font-size: 15px;
  font-family: Raleway;
}
body {
  margin: 0;
}
#container {
  height: 100vh;
}
#form {
  height: 63%;
  padding: 2.5rem 4rem 2.5rem 3rem;
  box-sizing: border-box;
}
#loginform {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#loginform * {
  margin-top: 6px;
}
.btn {
  font-family: Raleway;
  cursor: pointer;
}
.bold {
  font-weight: 600;
}

input[type="text"],
input[type="password"] {
  background-color: #e3e1e1;
  border: none;
  padding: 1rem;
}
#imgcontainer {
  height: 37%;
}
#image {
  height: 100%;
  width: 100%;
}

.checkbox {
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.checkbox > span {
  color: #34495e;
  vertical-align: bottom;
  margin: 5px;
  align-self: center;
}

.checkbox > input {
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background-color: #c4c4c4;
  margin-left: 5px;
  margin-right: 10px;
  align-self: center;
  cursor: pointer;
}

.checkbox > input:checked {
  background-color: #0078ff;
}

.checkbox > input:checked + span::before {
  content: "\2713";
  display: block;
  text-align: center;
  color: white;
  position: absolute;
  left: 9px;
  top: 4px;
}

.btn {
  background-color: #0e2f70;
  color: white;
  padding: 1rem;
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
  #container {
    position: relative;
  }
  #imgcontainer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    z-index: -1;
  }
  #form {
    height: 100%;
    display: inline-block;
    width: 40%;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-top: 20vh;
    background-color: rgba(255, 255, 255, 0.5);
  }
  #loginform {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1440px) {
  #form {
    height: 100%;
    width: 30%;
  }
}
@media only screen and (min-width: 2000px) {
  html {
    font-size: 40px;
  }
}
